USE [master]
GO
/****** Object:  Database [CTDTDH_INTRACOM]    Script Date: 10/04/2026 10:45:07 SA ******/
CREATE DATABASE [CTDTDH_INTRACOM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CTDTDH_INTRACOM', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CTDTDH_INTRACOM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CTDTDH_INTRACOM_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CTDTDH_INTRACOM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CTDTDH_INTRACOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CTDTDH_INTRACOM]
GO
/****** Object:  Table [dbo].[ChuanDauRa]    Script Date: 10/04/2026 10:45:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuanDauRa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chuong_trinh_id] [bigint] NULL,
	[ma_chuan] [nvarchar](40) NULL,
	[noi_dung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_chuong_trinh] [nvarchar](100) NULL,
	[nganh_id] [bigint] NULL,
	[he_id] [bigint] NULL,
	[tong_tin_chi] [int] NULL,
	[nam_phat_hanh] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[tang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_chuyen_nganh] [nvarchar](100) NULL,
	[nganh_id] [bigint] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeCuongMonHoc]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeCuongMonHoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mon_hoc_id] [bigint] NULL,
	[muc_tieu] [nvarchar](80) NULL,
	[noi_dung] [nvarchar](60) NULL,
	[phuong_phap_day] [nvarchar](60) NULL,
	[phuong_phap_danh_gia] [nvarchar](40) NULL,
	[tai_lieu] [nvarchar](100) NULL,
	[version] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeDaoTao]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeDaoTao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_he] [nvarchar](100) NULL,
	[thoi_gian_dao_tao] [int] NULL,
	[tong_tin_chi_mac_dinh] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhungChuongTrinh]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhungChuongTrinh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chuong_trinh_id] [bigint] NULL,
	[mon_hoc_id] [bigint] NULL,
	[hoc_ky] [int] NULL,
	[nhom_kien_thuc] [nvarchar](60) NULL,
	[loai_mon] [nchar](30) NULL,
	[thu_tu] [int] NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_mon] [nvarchar](20) NULL,
	[ten_mon] [nvarchar](400) NULL,
	[tin_chi] [int] NULL,
	[so_tiet_lt] [int] NULL,
	[so_tiet_th] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc_ChuanDauRa]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc_ChuanDauRa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mon_hoc_id] [bigint] NULL,
	[chuan_dau_ra_id] [bigint] NULL,
	[muc_do] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonTienQuyet]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonTienQuyet](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mon_hoc_id] [bigint] NULL,
	[mon_tien_quyet_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nganh] [nvarchar](20) NULL,
	[ten_nganh] [nvarchar](100) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/04/2026 10:45:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[role_id] [bigint] NOT NULL,
	[created_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuanDauRa] ON 

INSERT [dbo].[ChuanDauRa] ([id], [chuong_trinh_id], [ma_chuan], [noi_dung]) VALUES (2, 1, N'CDR2', N'Thiết kế và phát triển phần mềm theo quy trình chuyên nghiệp')
INSERT [dbo].[ChuanDauRa] ([id], [chuong_trinh_id], [ma_chuan], [noi_dung]) VALUES (3, 1, N'CDR3', N'Xây dựng và quản trị cơ sở dữ liệu hiệu quả')
INSERT [dbo].[ChuanDauRa] ([id], [chuong_trinh_id], [ma_chuan], [noi_dung]) VALUES (4, 1, N'CDR4', N'Phát triển ứng dụng Web và Mobile hiện đại')
SET IDENTITY_INSERT [dbo].[ChuanDauRa] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuongTrinhDaoTao] ON 

INSERT [dbo].[ChuongTrinhDaoTao] ([id], [ten_chuong_trinh], [nganh_id], [he_id], [tong_tin_chi], [nam_phat_hanh], [mo_ta], [tang_thai]) VALUES (1, N'CT Công nghệ thông tin 2025', 2, 2, 120, 2035, N'Chương trình CNTT chuẩn quốc tế 2024', 1)
INSERT [dbo].[ChuongTrinhDaoTao] ([id], [ten_chuong_trinh], [nganh_id], [he_id], [tong_tin_chi], [nam_phat_hanh], [mo_ta], [tang_thai]) VALUES (2, N'CT Kỹ thuật phần mềm 2024', 2, 1, 130, 2024, N'Chương trình KTPM định hướng thực hành', 0)
INSERT [dbo].[ChuongTrinhDaoTao] ([id], [ten_chuong_trinh], [nganh_id], [he_id], [tong_tin_chi], [nam_phat_hanh], [mo_ta], [tang_thai]) VALUES (3, N'CT Hệ thống thông tin 2023', 3, 1, 130, 2023, N'Chương trình HTTT cập nhật 2023', 1)
SET IDENTITY_INSERT [dbo].[ChuongTrinhDaoTao] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuyenNganh] ON 

INSERT [dbo].[ChuyenNganh] ([id], [ten_chuyen_nganh], [nganh_id], [mo_ta], [trang_thai]) VALUES (2, N'Trí tuệ nhân tạo', 2, N'Chuyên ngành AI & Machine Learning', 1)
INSERT [dbo].[ChuyenNganh] ([id], [ten_chuyen_nganh], [nganh_id], [mo_ta], [trang_thai]) VALUES (3, N'Lập trình Web & Mobile', 2, N'Chuyên ngành phát triển Web và Mobile', 1)
INSERT [dbo].[ChuyenNganh] ([id], [ten_chuyen_nganh], [nganh_id], [mo_ta], [trang_thai]) VALUES (4, N'Kiểm thử phần mềm', 2, N'Chuyên ngành QA/QC và kiểm thử', 1)
SET IDENTITY_INSERT [dbo].[ChuyenNganh] OFF
GO
SET IDENTITY_INSERT [dbo].[DeCuongMonHoc] ON 

INSERT [dbo].[DeCuongMonHoc] ([id], [mon_hoc_id], [muc_tieu], [noi_dung], [phuong_phap_day], [phuong_phap_danh_gia], [tai_lieu], [version]) VALUES (2, 2, N'Thành thạo OOP với Java', N'Class, Interface, Inheritance, Design Pattern', N'Giảng + code demo', N'BT 30% + Thi 70%', N'/api/files/decuong/f21c58bb-ca7a-4f56-a664-f437440112b4_Head_First_Java.pdf', N'v1.2')
INSERT [dbo].[DeCuongMonHoc] ([id], [mon_hoc_id], [muc_tieu], [noi_dung], [phuong_phap_day], [phuong_phap_danh_gia], [tai_lieu], [version]) VALUES (3, 3, N'Thiết kế CSDL quan hệ', N'ERD, SQL, Stored Procedure, Index', N'Giảng + thực hành SSMS', N'BT 40% + Thi 60%', N'/api/files/decuong/16640d97-a73f-4c93-9585-1a2da997a98c_DatabaseSystem-final.pdf', N'v1.0')
INSERT [dbo].[DeCuongMonHoc] ([id], [mon_hoc_id], [muc_tieu], [noi_dung], [phuong_phap_day], [phuong_phap_danh_gia], [tai_lieu], [version]) VALUES (4, 6, N'Xây dựng ứng dụng Web hiện đại', N'HTML/CSS, JavaScript, ReactJS, RESTful', N'Dự án nhóm + code review', N'Dự án 50% + Thi 50%', N'You Don''t Know JS', N'v2.0')
SET IDENTITY_INSERT [dbo].[DeCuongMonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[HeDaoTao] ON 

INSERT [dbo].[HeDaoTao] ([id], [ten_he], [thoi_gian_dao_tao], [tong_tin_chi_mac_dinh], [mo_ta]) VALUES (1, N'Trung Cấp', 2, 2, N'1')
INSERT [dbo].[HeDaoTao] ([id], [ten_he], [thoi_gian_dao_tao], [tong_tin_chi_mac_dinh], [mo_ta]) VALUES (2, N'Đại học vừa làm vừa học', 4, 130, N'Hệ đào tạo 4 năm không tập trung')
INSERT [dbo].[HeDaoTao] ([id], [ten_he], [thoi_gian_dao_tao], [tong_tin_chi_mac_dinh], [mo_ta]) VALUES (3, N'Cao đẳng', 3, 90, N'Hệ đào tạo 3 năm')
SET IDENTITY_INSERT [dbo].[HeDaoTao] OFF
GO
SET IDENTITY_INSERT [dbo].[KhungChuongTrinh] ON 

INSERT [dbo].[KhungChuongTrinh] ([id], [chuong_trinh_id], [mon_hoc_id], [hoc_ky], [nhom_kien_thuc], [loai_mon], [thu_tu], [ghi_chu]) VALUES (2, 1, 12, 1, N'Đại cương', N'Bắt buộc                      ', 2, NULL)
INSERT [dbo].[KhungChuongTrinh] ([id], [chuong_trinh_id], [mon_hoc_id], [hoc_ky], [nhom_kien_thuc], [loai_mon], [thu_tu], [ghi_chu]) VALUES (3, 1, 3, 1, N'Đại cương', N'Bắt buộc                      ', 2, N'ádasd')
INSERT [dbo].[KhungChuongTrinh] ([id], [chuong_trinh_id], [mon_hoc_id], [hoc_ky], [nhom_kien_thuc], [loai_mon], [thu_tu], [ghi_chu]) VALUES (4, 1, 5, 1, N'Đại cương', N'Bắt buộc                      ', 4, N'sadf')
SET IDENTITY_INSERT [dbo].[KhungChuongTrinh] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([id], [ma_mon], [ten_mon], [tin_chi], [so_tiet_lt], [so_tiet_th], [mo_ta], [trang_thai]) VALUES (1, N'1', N'Lập trình hướng đối tượng', 2, 20, 20, N'1', 1)
INSERT [dbo].[MonHoc] ([id], [ma_mon], [ten_mon], [tin_chi], [so_tiet_lt], [so_tiet_th], [mo_ta], [trang_thai]) VALUES (2, N'IT002', N'Lập trình hướng đối tượng', 3, 30, 15, N'OOP với Java', 1)
INSERT [dbo].[MonHoc] ([id], [ma_mon], [ten_mon], [tin_chi], [so_tiet_lt], [so_tiet_th], [mo_ta], [trang_thai]) VALUES (3, N'IT003', N'Cơ sở dữ liệu', 3, 30, 15, N'Thiết kế và quản trị CSDL quan hệ', 1)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc_ChuanDauRa] ON 

INSERT [dbo].[MonHoc_ChuanDauRa] ([id], [mon_hoc_id], [chuan_dau_ra_id], [muc_do]) VALUES (2, 2, 2, N'Đạt')
INSERT [dbo].[MonHoc_ChuanDauRa] ([id], [mon_hoc_id], [chuan_dau_ra_id], [muc_do]) VALUES (3, 3, 3, N'Đạt')
INSERT [dbo].[MonHoc_ChuanDauRa] ([id], [mon_hoc_id], [chuan_dau_ra_id], [muc_do]) VALUES (4, 6, 4, N'Đạt')
SET IDENTITY_INSERT [dbo].[MonHoc_ChuanDauRa] OFF
GO
SET IDENTITY_INSERT [dbo].[MonTienQuyet] ON 

INSERT [dbo].[MonTienQuyet] ([id], [mon_hoc_id], [mon_tien_quyet_id]) VALUES (1, 2, 1)
INSERT [dbo].[MonTienQuyet] ([id], [mon_hoc_id], [mon_tien_quyet_id]) VALUES (2, 6, 1)
INSERT [dbo].[MonTienQuyet] ([id], [mon_hoc_id], [mon_tien_quyet_id]) VALUES (3, 7, 2)
SET IDENTITY_INSERT [dbo].[MonTienQuyet] OFF
GO
SET IDENTITY_INSERT [dbo].[Nganh] ON 

INSERT [dbo].[Nganh] ([id], [ma_nganh], [ten_nganh], [mo_ta], [trang_thai]) VALUES (1, N'12', N'34', N'2', 1)
INSERT [dbo].[Nganh] ([id], [ma_nganh], [ten_nganh], [mo_ta], [trang_thai]) VALUES (2, N'KTPM', N'Kỹ thuật phần mềm', N'Đào tạo kỹ sư phần mềm chuyên nghiệp', 1)
INSERT [dbo].[Nganh] ([id], [ma_nganh], [ten_nganh], [mo_ta], [trang_thai]) VALUES (3, N'HTTT', N'Hệ thống thông tin', N'Đào tạo chuyên gia hệ thống thông tin', 1)
SET IDENTITY_INSERT [dbo].[Nganh] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([id], [role_name]) VALUES (2, N'SINH_VIEN')
INSERT [dbo].[Roles] ([id], [role_name]) VALUES (3, N'GIANG_VIEN')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [created_at]) VALUES (1, N'Khổng Đức Hải', N'Hai12345@', N'kdhai@gmail.com', 1, CAST(N'2026-04-05' AS Date))
INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [created_at]) VALUES (2, N'Nguyễn Công Tuấn', N'123456', N'giangvien01@gmail.com', 3, CAST(N'2026-04-05' AS Date))
INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [created_at]) VALUES (4, N'adsad', N'1234567', N'hvdung.dhti16a6hn@sv.uneti.edu.vn', 3, CAST(N'2026-04-06' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ChuanDauRa]  WITH CHECK ADD FOREIGN KEY([chuong_trinh_id])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([id])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD FOREIGN KEY([he_id])
REFERENCES [dbo].[HeDaoTao] ([id])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD FOREIGN KEY([nganh_id])
REFERENCES [dbo].[Nganh] ([id])
GO
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD FOREIGN KEY([nganh_id])
REFERENCES [dbo].[Nganh] ([id])
GO
ALTER TABLE [dbo].[DeCuongMonHoc]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[KhungChuongTrinh]  WITH CHECK ADD FOREIGN KEY([chuong_trinh_id])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([id])
GO
ALTER TABLE [dbo].[KhungChuongTrinh]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[MonHoc_ChuanDauRa]  WITH CHECK ADD FOREIGN KEY([chuan_dau_ra_id])
REFERENCES [dbo].[ChuanDauRa] ([id])
GO
ALTER TABLE [dbo].[MonHoc_ChuanDauRa]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[MonTienQuyet]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[MonTienQuyet]  WITH CHECK ADD FOREIGN KEY([mon_tien_quyet_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
USE [master]
GO
