USE [master]
GO
/****** Object:  Database [CTDTDH_INTRACOM]    Script Date: 09/05/2026 5:05:45 CH ******/
CREATE DATABASE [CTDTDH_INTRACOM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CTDTDH_INTRACOM', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CTDTDH_INTRACOM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CTDTDH_INTRACOM_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CTDTDH_INTRACOM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CTDTDH_INTRACOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CTDTDH_INTRACOM]
GO
/****** Object:  Table [dbo].[ChuanDauRa]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuanDauRa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chuong_trinh_id] [bigint] NULL,
	[ma_chuan] [nvarchar](40) NULL,
	[noi_dung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_chuong_trinh] [nvarchar](100) NULL,
	[nganh_id] [bigint] NULL,
	[he_id] [bigint] NULL,
	[tong_tin_chi] [int] NULL,
	[nam_phat_hanh] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[tang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_chuyen_nganh] [nvarchar](100) NULL,
	[nganh_id] [bigint] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeCuongMonHoc]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeCuongMonHoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mon_hoc_id] [bigint] NULL,
	[muc_tieu] [nvarchar](200) NULL,
	[noi_dung] [nvarchar](200) NULL,
	[phuong_phap_day] [nvarchar](200) NULL,
	[phuong_phap_danh_gia] [nvarchar](100) NULL,
	[tai_lieu] [nvarchar](100) NULL,
	[version] [nvarchar](60) NULL,
 CONSTRAINT [PK__DeCuongM__3213E83F97F79CA1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeDaoTao]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeDaoTao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_he] [nvarchar](100) NULL,
	[thoi_gian_dao_tao] [int] NULL,
	[tong_tin_chi_mac_dinh] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhungChuongTrinh]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhungChuongTrinh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chuong_trinh_id] [bigint] NULL,
	[mon_hoc_id] [bigint] NULL,
	[hoc_ky] [int] NULL,
	[nhom_kien_thuc] [nvarchar](60) NULL,
	[loai_mon] [nchar](30) NULL,
	[thu_tu] [int] NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_mon] [nvarchar](20) NULL,
	[ten_mon] [nvarchar](400) NULL,
	[tin_chi] [int] NULL,
	[so_tiet_lt] [int] NULL,
	[so_tiet_th] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc_ChuanDauRa]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc_ChuanDauRa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mon_hoc_id] [bigint] NULL,
	[chuan_dau_ra_id] [bigint] NULL,
	[muc_do] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonTienQuyet]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonTienQuyet](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mon_hoc_id] [bigint] NULL,
	[mon_tien_quyet_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_nganh] [nvarchar](20) NULL,
	[ten_nganh] [nvarchar](100) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/05/2026 5:05:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[role_id] [bigint] NOT NULL,
	[created_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuanDauRa] ON 

INSERT [dbo].[ChuanDauRa] ([id], [chuong_trinh_id], [ma_chuan], [noi_dung]) VALUES (1, 1, N'PLO1', N'Vận dụng kiến thức toán học và khoa học cơ bản vào bài toán CNTT')
INSERT [dbo].[ChuanDauRa] ([id], [chuong_trinh_id], [ma_chuan], [noi_dung]) VALUES (2, 1, N'PLO2', N'Thiết kế và cài đặt các thuật toán, cấu trúc dữ liệu phù hợp')
INSERT [dbo].[ChuanDauRa] ([id], [chuong_trinh_id], [ma_chuan], [noi_dung]) VALUES (3, 1, N'PLO3', N'Phân tích, thiết kế và xây dựng hệ thống phần mềm quy mô vừa')
SET IDENTITY_INSERT [dbo].[ChuanDauRa] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuongTrinhDaoTao] ON 

INSERT [dbo].[ChuongTrinhDaoTao] ([id], [ten_chuong_trinh], [nganh_id], [he_id], [tong_tin_chi], [nam_phat_hanh], [mo_ta], [tang_thai]) VALUES (1, N'CTĐT Công nghệ thông tin 2022', 1, 1, 130, 2022, N'Chương trình CNTT hệ chính quy 2022', 1)
INSERT [dbo].[ChuongTrinhDaoTao] ([id], [ten_chuong_trinh], [nganh_id], [he_id], [tong_tin_chi], [nam_phat_hanh], [mo_ta], [tang_thai]) VALUES (2, N'CTĐT Kỹ thuật phần mềm 2022', 2, 1, 130, 2022, N'Chương trình KTPM hệ chính quy 2022', 1)
INSERT [dbo].[ChuongTrinhDaoTao] ([id], [ten_chuong_trinh], [nganh_id], [he_id], [tong_tin_chi], [nam_phat_hanh], [mo_ta], [tang_thai]) VALUES (3, N'CTĐT An toàn thông tin 2023', 4, 1, 132, 2023, N'Chương trình ATTT hệ chính quy 2023', 1)
SET IDENTITY_INSERT [dbo].[ChuongTrinhDaoTao] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuyenNganh] ON 

INSERT [dbo].[ChuyenNganh] ([id], [ten_chuyen_nganh], [nganh_id], [mo_ta], [trang_thai]) VALUES (1, N'Phát triển phần mềm', 2, N'Chuyên ngành phát triển ứng dụng web và mobile', 1)
INSERT [dbo].[ChuyenNganh] ([id], [ten_chuyen_nganh], [nganh_id], [mo_ta], [trang_thai]) VALUES (2, N'Kiểm thử phần mềm', 2, N'Chuyên ngành QA/QC và kiểm thử tự động', 1)
INSERT [dbo].[ChuyenNganh] ([id], [ten_chuyen_nganh], [nganh_id], [mo_ta], [trang_thai]) VALUES (3, N'Trí tuệ nhân tạo', 1, N'Chuyên ngành AI, Machine Learning, Deep Learning', 1)
SET IDENTITY_INSERT [dbo].[ChuyenNganh] OFF
GO
SET IDENTITY_INSERT [dbo].[DeCuongMonHoc] ON 

INSERT [dbo].[DeCuongMonHoc] ([id], [mon_hoc_id], [muc_tieu], [noi_dung], [phuong_phap_day], [phuong_phap_danh_gia], [tai_lieu], [version]) VALUES (1, 1, N'Sinh viên nắm được tư duy lập trình và cú pháp ngôn ngữ C cơ bản, giải được bài toán đơn giản', N'Biến, kiểu dữ liệu, vòng lặp, hàm, mảng, con trỏ, file', N'Giảng lý thuyết kết hợp thực hành trên máy tính, bài tập tuần', N'Giữa kỳ 30%, TH 20%, Cuối kỳ 50%', N'Lập trình C - Phạm Văn Át; C Programming - K&R', N'v2.1')
INSERT [dbo].[DeCuongMonHoc] ([id], [mon_hoc_id], [muc_tieu], [noi_dung], [phuong_phap_day], [phuong_phap_danh_gia], [tai_lieu], [version]) VALUES (2, 2, N'Sinh viên hiểu và cài đặt được các cấu trúc dữ liệu, phân tích độ phức tạp thuật toán', N'Stack, Queue, LinkedList, Tree, Graph, Sort, Search, Hash', N'Thuyết trình, thảo luận nhóm, bài tập lớn cài đặt', N'Giữa kỳ 30%, BTL 20%, Cuối kỳ 50%', N'Cấu trúc dữ liệu - Đinh Mạnh Tường; Introduction to Algorithms - CLRS', N'v2.0')
INSERT [dbo].[DeCuongMonHoc] ([id], [mon_hoc_id], [muc_tieu], [noi_dung], [phuong_phap_day], [phuong_phap_danh_gia], [tai_lieu], [version]) VALUES (3, 3, N'Sinh viên nắm vững 4 tính chất OOP, thiết kế và cài đặt chương trình theo hướng đối tượng', N'Class, Object, Encapsulation, Inheritance, Polymorphism, Interface, Exception', N'Lý thuyết + thực hành Java, bài tập tình huống thực tế', N'Giữa kỳ 30%, TH 20%, Cuối kỳ 50%', N'Head First Java - Kathy Sierra; OOP với Java - Đặng Văn Đức', N'v2.0')
SET IDENTITY_INSERT [dbo].[DeCuongMonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[HeDaoTao] ON 

INSERT [dbo].[HeDaoTao] ([id], [ten_he], [thoi_gian_dao_tao], [tong_tin_chi_mac_dinh], [mo_ta]) VALUES (1, N'Đại học chính quy', 4, 130, N'Hệ đào tạo đại học chính quy 4 năm')
INSERT [dbo].[HeDaoTao] ([id], [ten_he], [thoi_gian_dao_tao], [tong_tin_chi_mac_dinh], [mo_ta]) VALUES (2, N'Đại học chất lượng cao', 4, 135, N'Hệ đào tạo chất lượng cao, tăng cường tiếng Anh')
INSERT [dbo].[HeDaoTao] ([id], [ten_he], [thoi_gian_dao_tao], [tong_tin_chi_mac_dinh], [mo_ta]) VALUES (3, N'Thạc sĩ', 2, 60, N'Hệ đào tạo sau đại học 2 năm')
SET IDENTITY_INSERT [dbo].[HeDaoTao] OFF
GO
SET IDENTITY_INSERT [dbo].[KhungChuongTrinh] ON 

INSERT [dbo].[KhungChuongTrinh] ([id], [chuong_trinh_id], [mon_hoc_id], [hoc_ky], [nhom_kien_thuc], [loai_mon], [thu_tu], [ghi_chu]) VALUES (1, 1, 32, 1, N'Đại cương', N'Bắt buộc                      ', 1, NULL)
INSERT [dbo].[KhungChuongTrinh] ([id], [chuong_trinh_id], [mon_hoc_id], [hoc_ky], [nhom_kien_thuc], [loai_mon], [thu_tu], [ghi_chu]) VALUES (2, 1, 13, 1, N'Cơ sở ngành', N'Bắt buộc                      ', 2, N'chú ý học')
INSERT [dbo].[KhungChuongTrinh] ([id], [chuong_trinh_id], [mon_hoc_id], [hoc_ky], [nhom_kien_thuc], [loai_mon], [thu_tu], [ghi_chu]) VALUES (3, 1, 14, 1, N'Đại cương', N'Bắt buộc                      ', 3, N'')
GO
SET IDENTITY_INSERT [dbo].[KhungChuongTrinh] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([id], [ma_mon], [ten_mon], [tin_chi], [so_tiet_lt], [so_tiet_th], [mo_ta], [trang_thai]) VALUES (1, N'INT1001', N'Nhập môn lập trình', 3, 30, 30, N'Khái niệm cơ bản về lập trình', 1)
INSERT [dbo].[MonHoc] ([id], [ma_mon], [ten_mon], [tin_chi], [so_tiet_lt], [so_tiet_th], [mo_ta], [trang_thai]) VALUES (2, N'INT1002', N'Cấu trúc dữ liệu và giải thuật', 3, 30, 30, N'Các cấu trúc dữ liệu và thuật toán', 1)
INSERT [dbo].[MonHoc] ([id], [ma_mon], [ten_mon], [tin_chi], [so_tiet_lt], [so_tiet_th], [mo_ta], [trang_thai]) VALUES (3, N'INT1003', N'Lập trình hướng đối tượng', 3, 30, 30, N'OOP với Java/C++', 1)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc_ChuanDauRa] ON 

INSERT [dbo].[MonHoc_ChuanDauRa] ([id], [mon_hoc_id], [chuan_dau_ra_id], [muc_do]) VALUES (1, 1, 1, N'I')
INSERT [dbo].[MonHoc_ChuanDauRa] ([id], [mon_hoc_id], [chuan_dau_ra_id], [muc_do]) VALUES (2, 1, 2, N'I')
INSERT [dbo].[MonHoc_ChuanDauRa] ([id], [mon_hoc_id], [chuan_dau_ra_id], [muc_do]) VALUES (3, 2, 1, N'T')
SET IDENTITY_INSERT [dbo].[MonHoc_ChuanDauRa] OFF
GO
SET IDENTITY_INSERT [dbo].[MonTienQuyet] ON 

INSERT [dbo].[MonTienQuyet] ([id], [mon_hoc_id], [mon_tien_quyet_id]) VALUES (1, 2, 1)
INSERT [dbo].[MonTienQuyet] ([id], [mon_hoc_id], [mon_tien_quyet_id]) VALUES (2, 3, 1)
INSERT [dbo].[MonTienQuyet] ([id], [mon_hoc_id], [mon_tien_quyet_id]) VALUES (3, 18, 1)
SET IDENTITY_INSERT [dbo].[MonTienQuyet] OFF
GO
SET IDENTITY_INSERT [dbo].[Nganh] ON 

INSERT [dbo].[Nganh] ([id], [ma_nganh], [ten_nganh], [mo_ta], [trang_thai]) VALUES (1, N'CNTT', N'Công nghệ thông tin', N'Ngành đào tạo kỹ sư công nghệ thông tin', 1)
INSERT [dbo].[Nganh] ([id], [ma_nganh], [ten_nganh], [mo_ta], [trang_thai]) VALUES (2, N'KTPM', N'Kỹ thuật phần mềm', N'Ngành đào tạo kỹ sư phần mềm chuyên nghiệp', 1)
INSERT [dbo].[Nganh] ([id], [ma_nganh], [ten_nganh], [mo_ta], [trang_thai]) VALUES (3, N'HTTT', N'Hệ thống thông tin', N'Ngành đào tạo chuyên gia hệ thống thông tin', 1)
SET IDENTITY_INSERT [dbo].[Nganh] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([id], [role_name]) VALUES (2, N'GIANG_VIEN')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [created_at]) VALUES (1, N'admin', N'$2a$10$kbVydn9Z7Y0JGnW2BYOcEurUN1FDRVPnewR9HBoe2iv5mJ5anFEvC', N'admin@intracom.edu.vn', 1, CAST(N'2026-02-01' AS Date))
INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [created_at]) VALUES (2, N'dung', N'dung12345', N'dung@intracom.edu.vn', 2, CAST(N'2026-03-05' AS Date))
INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [created_at]) VALUES (4, N'Khổng Đức Hải', N'hai1234', N'kdhai@intracom.edu.vn', 1, CAST(N'2026-04-07' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ChuanDauRa]  WITH CHECK ADD FOREIGN KEY([chuong_trinh_id])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([id])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD FOREIGN KEY([he_id])
REFERENCES [dbo].[HeDaoTao] ([id])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD FOREIGN KEY([nganh_id])
REFERENCES [dbo].[Nganh] ([id])
GO
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD FOREIGN KEY([nganh_id])
REFERENCES [dbo].[Nganh] ([id])
GO
ALTER TABLE [dbo].[DeCuongMonHoc]  WITH CHECK ADD  CONSTRAINT [FK__DeCuongMo__mon_h__5EBF139D] FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[DeCuongMonHoc] CHECK CONSTRAINT [FK__DeCuongMo__mon_h__5EBF139D]
GO
ALTER TABLE [dbo].[KhungChuongTrinh]  WITH CHECK ADD FOREIGN KEY([chuong_trinh_id])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([id])
GO
ALTER TABLE [dbo].[KhungChuongTrinh]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[MonHoc_ChuanDauRa]  WITH CHECK ADD FOREIGN KEY([chuan_dau_ra_id])
REFERENCES [dbo].[ChuanDauRa] ([id])
GO
ALTER TABLE [dbo].[MonHoc_ChuanDauRa]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[MonTienQuyet]  WITH CHECK ADD FOREIGN KEY([mon_hoc_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[MonTienQuyet]  WITH CHECK ADD FOREIGN KEY([mon_tien_quyet_id])
REFERENCES [dbo].[MonHoc] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
USE [master]
GO
